<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mes Comptes</title>
</head>

<div class="pagetitle">
  <h1>Consultation Compte</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="dashboard.component.html">Home</a></li>

      </ol>
  </nav>
</div><!-- End Page Title -->
<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Mes Comptes</h2>
        <div class="btn-container">
          <button type="button" class="btn-create-account"   (click)="toggleCreateAccountForm()">
            <i class="bi bi-plus-circle"></i>
          </button>
          <span>Ajouter un compte supplémentaire</span>
        </div>

<!-- Affichage conditionnel du formulaire de création de compte -->
<div class="form-container" *ngIf="showCreateAccountForm">
  <h3>Créer un nouveau compte</h3>

  <!-- Sélection du type de compte -->
  <label for="typeCompte">Type de compte :</label>
  <select id="typeCompte" [(ngModel)]="compteDto.type">
    <option value="courant">Compte Courant</option>
    <option value="epargne"   >Compte Épargne</option>
    <option value="cheque">Compte Chèque</option>
  </select>

  <!-- Bouton pour créer le compte -->
  <button type="button" class="btn-create-account" (click)="createCompte()">
Ajouter  </button>

  <!-- Message d'erreur -->
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>



      </div>
      <div class="card-content">
        <form id="deliveryForm">
          <div class="form-grid">
            <div class="form-group search-group">
              <label for="cardNumber">RIB Compte</label>
              <div class="search-container">
                <input type="text" id="cardNumber" name="cardNumber" [(ngModel)]="rib" placeholder="Saisir un RIB">
                <button type="button" class="btn-search" (click)="searchCompteByRib()">Rechercher</button>
              </div>
            </div>

            <div class="form-row">
              <!-- Contenu de form-row ici -->
              <div class="comptes-container">
                  <div *ngFor="let compte of comptes" class="compte-card" (click)="openModal(compte.rib)">

                  <div class="compte-info">
                    <h3>{{ compte.type.toUpperCase() }}</h3>
                    <p>{{ compte.rib.toUpperCase() }}</p>
                  </div>
                  <div class="compte-solde">
                    <span class="solde">{{ compte.solde | number:'1.3-3' }}</span> TND
                  </div>
                  <!-- Bouton Clôturer -->
      <button type="button" class="btn-cloturer" (click)="cloturerCompte(compte.rib);$event.stopPropagation()">Clôturer</button>
                </div>
              </div>

              <!-- Bouton pour ajouter un compte
              <button class="btn-create-account" >Créer un compte supplémentaire</button> -->


            </div> <!-- Ajout de la fermeture de form-row -->

          </div> <!-- Fermeture de form-grid -->
        </form>
      </div>
    </div>
  </div>


<!-- Modal pour afficher les détails du compte -->
<div *ngIf="selectedCompte" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Détails du compte</h2>
    <p><strong>Type :</strong> {{ selectedCompte.type.toUpperCase() }}</p>
    <p><strong>RIB :</strong> {{ selectedCompte.rib }}</p>
    <p><strong>Solde :</strong> {{ selectedCompte.solde | number:'1.3-3' }} TND</p>
    <p>Montant Max Autorisé par Jour : {{ selectedCompte?.montantMaxAutoriseParJour }}</p>
<p>Nombre d’Opérations Autorisées par Jour : {{ selectedCompte?.nbrOperationsAutoriseesParJour }}</p>
<p>Date de Création : {{ selectedCompte?.dateCreation | date:'yyyy-MM-dd' }}</p>

  </div>
</div>


</body>
</html>
