.error-message {
    color: #ff4d4f; // Couleur rouge pour le message d'erreur
    font-size: 12px;
    margin-top: 5px;
  }
  
  // Champ invalide
  .input-error {
    border-color: #ff4d4f; // Bordure rouge pour les champs invalides
  }
  